{% extends "base.html" %}
{% block title %}{{ title }} | {{ 'Sistema de Gestão de Otif - Aryzta - Invent ' }}{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="">Invent - Sistema de Gestão de Otif</a></h1>
{% endblock %}
{% load i18n admin_urls admin_static admin_list %}

{% block breadcrumbs %}
    <a href="{{ SERVER_URL }}/">Início</a>&nbsp> <a href="{{ SERVER_URL }}/grade/">Grade</a>
{% endblock %}

{% block content_title %}Grade de horários por dia da semana{% endblock %}
{% block content %}


{% load partition %}
<div class="module filtered" id="changelist">
<div id="toolbar">
    <div id="searchform">

<form action="{% url 'grade_list' %}" method="POST" >{% csrf_token %}
        &nbspCliente<br>
        <select name="dropdown">
	{% for cliente in clientes %}
		<option value="{{ cliente.nm_ab_cli }}">{{ cliente.nm_ab_cli }}</option>
	{% endfor %}
</select>
        <input type="submit" value="Selecionar" />
    </form>
</div>
</div>
<div>
    <p><h2>Cliente:{{ cliente }}</h2>
</div>

 <table class="orderable">
        <tr>
            <!--<td><strong>Cliente</strong></td>-->
            <td><strong>Segunda-Feira</strong></td>
            <td><strong>Terça-Feira</strong></td>
            <td><strong>Quarta-Feira</strong></td>
            <td><strong>Quinta-Feira</strong></td>
            <td><strong>Sexta-Feira</strong></td>
            <td><strong>Sábado</strong></td>
            <td><strong>Domingo</strong></td>
        </tr>

{% load partition %}
 {% for row in hr|columns:7%}
     <tr>
    {% for col in row %}
        <td><a href="{{ col.0.id }}">{{ col.0}}
            {% if col.0 %}
            :00
            {% else %}
            <a href="">----</a>
            {% endif %}</a></td>
    {% endfor %}
     </tr>
 {% endfor %}

  </table>
    {% endblock content %}
        </form>
    </div>
</div>