appdirs==1.4.3
cx-Oracle==5.2.1
Django==1.8.6
django-sql-explorer==1.0
packaging==16.8
pyparsing==2.2.0
six==1.10.0
sqlparse==0.2.3
unicodecsv==0.14.1
django-admin-rangefilter==0.3.0
xlsxwriter==1.0.2

