{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>

        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">

            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">
                {% if model.name  == "Entradas de log" %}
                   <i class="fa fa-book fa-3x"></i>
                {% endif %}
                {% if model.name  == "Grupos" %}
                   <i class="fa fa-users fa-3x"></i>
                {% endif %}
                {% if model.name  == "Usuários" %}
                   <i class="fa fa-user fa-3x"></i>
                {% endif %}
                {% if model.name  == "Estabelecimentos" %}
                   <i class="fa fa-industry fa-3x" title=""></i>
                {% endif %}
                {% if model.name  == "Estabelecimentos do Usuário" %}
                   <i class="fa fa-user-plus fa-3x"></i>
                {% endif %}
                {% if model.name  == "Unidades de Negócio" %}
                   <i class="fa fa-industry fa-3x" title=""></i>
                {% endif %}
                {% if model.name  == "Unidades de Negócio do Usuário" %}
                   <i class="fa fa-user-plus fa-3x"></i>
                {% endif %}
                {% if model.name  == "Limites por Cliente" %}
                   <i class="fa fa-hourglass-half fa-3x"></i>
                {% endif %}
                {% if model.name  == "Grades" %}
                   <i class="fa fa-calendar fa-3x" title=""></i>
                {% endif %}
                {% if model.name  == "Motivos de atraso de carregamento" %}
                   <i class="fa fa-thumbs-o-down fa-3x"></i>
                {% endif %}
                {% if model.name  == "Multa items" %}
                   <i class="fa fa-thumbs-o-down fa-3x"></i>
                {% endif %}
                {% if model.name  == "Carregamentos" %}
                   <i class="fa fa-truck fa-3x"></i>
                {% endif %}
                {% if model.name  == "Items" %}
                   <i class="fa fa-user-plus fa-3x"></i>
                {% endif %}
                {% if model.name  == "Fill rates" %}
                   <i class="fa fa-line-chart fa-3x"></i>
                {% endif %}
                {% if model.name  == "No shows" %}
                   <i class="fa fa-calendar-times-o fa-3x"></i>
                {% endif %}
                {% if model.name  == "Motivos de falta" %}
                   <i class="fa fa-list fa-3x"></i>
                {% endif %}
                {% if model.name  == "Queries" %}
                   <i class="fa fa-file-text-o fa-3x"></i>
                {% endif %}
                {% if model.name  == "Grupos de Cliente" %}
                    <i class="fa fa-cogs fa-3x"></i>
                {% endif %}
                {% if model.name  == "Pre carregamentos" %}
                    <i class="fa fa-gift fa-3x"></i>
                {% endif %}
                {% if model.name  == "Motivos de alteração da agenda" %}
                <i class="fa fa-calendar-times-o fa-3x"></i>
                {% endif %}
                
            {{ model.name }}</a></th>
            
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}


{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}
