{% extends "admin/base_site.html" %}

{% block content %}
    <script>
        var currentdate = new Date();
        var datetime = currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/"
                    + currentdate.getFullYear() + " "
                    + currentdate.getHours() + ":"
                    + currentdate.getMinutes() + ":"
                    + currentdate.getSeconds();

    </script>

    <form action="" method="post">{% csrf_token %}
         <h2>Entre com os dados do evento</h2>
        <h4>(campos em branco não serão atualizados.)</h4>
        {{ form.as_p }}

        <input type="button" onclick="document.getElementById('id_data').value=datetime" value="Data atual">
        <input type="hidden" name="action" value="{{ action_name }}" />
        <input type="submit" name="apply" value="Salvar" />

    </form>
{% endblock %}
